.navbar .iconsRow {
	padding: 0px 15px 0px 40px !important;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	-webkit-app-region: drag
}

.navbar #websiteControls {
	flex: 2;
	position: relative;
    padding: 0px 15px 0px 40px !important;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-self: center;
	white-space: nowrap;
	-webkit-app-region: drag
}